<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mbg.mapper.SmsFlashProductRelationMapper">
  <resultMap id="BaseResultMap" type="com.mall.mbg.model.SmsFlashProductRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="promotion_id" jdbcType="BIGINT" property="promotionId" />
    <result column="session_id" jdbcType="BIGINT" property="sessionId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="is_sku" jdbcType="BIT" property="isSku" />
    <result column="flash_price" jdbcType="DECIMAL" property="flashPrice" />
    <result column="flash_stock" jdbcType="INTEGER" property="flashStock" />
    <result column="flash_limit" jdbcType="INTEGER" property="flashLimit" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, promotion_id, session_id, product_id, is_sku, flash_price, flash_stock, flash_limit, 
    original_price, sort, create_time
  </sql>
  <select id="selectByExample" parameterType="com.mall.mbg.model.SmsFlashProductRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sms_flash_product_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms_flash_product_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_flash_product_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.mbg.model.SmsFlashProductRelationExample">
    delete from sms_flash_product_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.mbg.model.SmsFlashProductRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_flash_product_relation (promotion_id, session_id, product_id, 
      is_sku, flash_price, flash_stock, 
      flash_limit, original_price, sort, 
      create_time)
    values (#{promotionId,jdbcType=BIGINT}, #{sessionId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{isSku,jdbcType=BIT}, #{flashPrice,jdbcType=DECIMAL}, #{flashStock,jdbcType=INTEGER}, 
      #{flashLimit,jdbcType=INTEGER}, #{originalPrice,jdbcType=DECIMAL}, #{sort,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.mbg.model.SmsFlashProductRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_flash_product_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="promotionId != null">
        promotion_id,
      </if>
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="isSku != null">
        is_sku,
      </if>
      <if test="flashPrice != null">
        flash_price,
      </if>
      <if test="flashStock != null">
        flash_stock,
      </if>
      <if test="flashLimit != null">
        flash_limit,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="promotionId != null">
        #{promotionId,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="isSku != null">
        #{isSku,jdbcType=BIT},
      </if>
      <if test="flashPrice != null">
        #{flashPrice,jdbcType=DECIMAL},
      </if>
      <if test="flashStock != null">
        #{flashStock,jdbcType=INTEGER},
      </if>
      <if test="flashLimit != null">
        #{flashLimit,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.mbg.model.SmsFlashProductRelationExample" resultType="java.lang.Long">
    select count(*) from sms_flash_product_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sms_flash_product_relation
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.promotionId != null">
        promotion_id = #{row.promotionId,jdbcType=BIGINT},
      </if>
      <if test="row.sessionId != null">
        session_id = #{row.sessionId,jdbcType=BIGINT},
      </if>
      <if test="row.productId != null">
        product_id = #{row.productId,jdbcType=BIGINT},
      </if>
      <if test="row.isSku != null">
        is_sku = #{row.isSku,jdbcType=BIT},
      </if>
      <if test="row.flashPrice != null">
        flash_price = #{row.flashPrice,jdbcType=DECIMAL},
      </if>
      <if test="row.flashStock != null">
        flash_stock = #{row.flashStock,jdbcType=INTEGER},
      </if>
      <if test="row.flashLimit != null">
        flash_limit = #{row.flashLimit,jdbcType=INTEGER},
      </if>
      <if test="row.originalPrice != null">
        original_price = #{row.originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="row.sort != null">
        sort = #{row.sort,jdbcType=INTEGER},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sms_flash_product_relation
    set id = #{row.id,jdbcType=BIGINT},
      promotion_id = #{row.promotionId,jdbcType=BIGINT},
      session_id = #{row.sessionId,jdbcType=BIGINT},
      product_id = #{row.productId,jdbcType=BIGINT},
      is_sku = #{row.isSku,jdbcType=BIT},
      flash_price = #{row.flashPrice,jdbcType=DECIMAL},
      flash_stock = #{row.flashStock,jdbcType=INTEGER},
      flash_limit = #{row.flashLimit,jdbcType=INTEGER},
      original_price = #{row.originalPrice,jdbcType=DECIMAL},
      sort = #{row.sort,jdbcType=INTEGER},
      create_time = #{row.createTime,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.mbg.model.SmsFlashProductRelation">
    update sms_flash_product_relation
    <set>
      <if test="promotionId != null">
        promotion_id = #{promotionId,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null">
        session_id = #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="isSku != null">
        is_sku = #{isSku,jdbcType=BIT},
      </if>
      <if test="flashPrice != null">
        flash_price = #{flashPrice,jdbcType=DECIMAL},
      </if>
      <if test="flashStock != null">
        flash_stock = #{flashStock,jdbcType=INTEGER},
      </if>
      <if test="flashLimit != null">
        flash_limit = #{flashLimit,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.mbg.model.SmsFlashProductRelation">
    update sms_flash_product_relation
    set promotion_id = #{promotionId,jdbcType=BIGINT},
      session_id = #{sessionId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      is_sku = #{isSku,jdbcType=BIT},
      flash_price = #{flashPrice,jdbcType=DECIMAL},
      flash_stock = #{flashStock,jdbcType=INTEGER},
      flash_limit = #{flashLimit,jdbcType=INTEGER},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>